

/*START COMPONENT//*/
/*id: 110//*/
/*type: RuntimeCSS//*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;  
  
}
body{
    /*margin: 10px;//*/    
    background-color:  #2b2c34;  
    font-family: Helvetica, Arial, sans-serif;
}

/*id: 110//*/
/*type: RuntimeCSS//*/
/*END COMPONENT//*/

